.App {
  margin: 0;
  padding: 50px 20px; /* reduce horizontal padding on small screens */
  background-color: #3DA5D9;
  font-weight: 500;
  font-size: 1.2rem;
  min-height: 100vh;       /* ensures app is at least full screen */
  box-sizing: border-box;  /* include padding in height calculations */
}
