.App {
  margin: 0;
  padding: 0 20px; /* horizontal padding for content only */
  background-color: #3DA5D9;
  font-weight: 500;
  font-size: 1.2rem;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; /* center todo container horizontally */
}
