.App {
  margin: 0;
<<<<<<< HEAD
  padding: 50px;
=======
  padding: 50;
>>>>>>> 87af4b065d7dbefdb2e4a8e9bcb18e63542c4282
  background-color:   #3DA5D9;
  font-weight: 500;
  font-size: 1.2rem;
  height: 100vh;

}

